
<br><br>
<table style=" border:2px solid;">
  <tr style="align:center;border-bottom:2px solid;font-size:20px;background-color:rgb(194, 194, 194);">
    <th style="backgound-color:#E0E0E0;">
    </th>
    <th>No.
    </th>
    <th>id
    </th>
    <th>Email
    </th>
    <th>authority
    </th>
    <th>
    </th>
  </tr>
  <tr style="align:center;border-bottom:2px solid;font-size:15px;height:20px;">
    <td><input type="checkbox">
    </td>
    <td>1
    </td>
    <td>tgkim@kosyas.com
    </td>
    <td>tgkim@kosyas.com
    </td>
    <td>super user
    </td>
    <td style="align:center;border:0px solid white;width:50px;">
      <button style="width:90px;border:none;border-radius:3px;backgound-color:#E0E0E0;">Change authority</button>
    </td>
  </tr>
  <tr style="align:center;border-bottom:2px solid;font-size:15px;height:20px;">
      <td><input type="checkbox">
      </td>
      <td>2
      </td>
      <td>testuser@kosyas.com
      </td>
      <td>testuser@kosyas.com
      </td>
      <td>Log manager
      </td>
      <td style="align:center;border:0px solid white;width:50px;">
        <button style="width:90px;border:none;border-radius:3px;backgound-color:#E0E0E0;">Change authority</button>
      </td>
    </tr>
</table>