.head-top  {
    font-size:290%;
    margin-top:3%;
    text-align:center;
    
    width:100%;
    font-weight:bold;
    margin-bottom:3%;
    padding-bottom:0;
    padding:0;
}

.head-top-img {
    margin-right:4%;
    width:1.2em;
    height:1.2em;
    object-fit:cover;
    border-radius:50%;
    margin-bottom:0;
    padding-bottom:0;
    padding:0;    
}

#popup{
    height:70px;
    width:120px;
    position: fixed;
    top:90px;
    right:60px;
    border:none;
    padding:10px;
    background:#E0E0E0;
    border-radius:3px;
    line-height:60%;
    color:white;
    text-align:center;
    font-weight:bold;
}

#popup a, a:visited {
    text-decoration:none;
    display:block;
    font-size:15px;
    color:black;
    margin:0;
    border:0;
}

.head-logo-img {
    margin-right:1%;
    width:1.0em;
    height:1.0em;
    object-fit:cover;
    border-radius:0%;
    margin-bottom:0;
    padding-bottom:0;
    padding:0;    
}