<div class="link_nav">
  <ul>
    <li><a [routerLink]="['/config-logmanage-intrusion']">Log</a></li><br>
    <li class="select"><a [routerLink]="['/config-usermanage']">User</a></li><br>
    <li><a [routerLink]="['/config-agent']">Agent</a></li><br>
    <li><a [routerLink]="['/config-systemmanage']">System</a></li>
  </ul>
</div>

<div class="content-subject">&nbsp;&nbsp;Configuration - Set user configuration</div>
<div style="font-size:20px;margin-left:300px;">
  <app-user-config></app-user-config>
</div>