<app-top></app-top>
<div class="tab_menu">
<app-tabmenu></app-tabmenu>
</div>

<div class="link_nav">
  <ul>
    <li><a [routerLink]="['/config-logmanage-intrusion']">Log</a></li><br>
    <li class="select"><a [routerLink]="['/config-usermanage']">User</a></li><br>
    <li><a [routerLink]="['/config-systemmanage']">System</a></li>
  </ul>
</div>


<div>
  <div>
      <canvas id="line-chart" width="400" height="150" style="margin-left:30px;padding-right:30px;width:500px;height:150;"></canvas>
  </div>

</div>
