<div class="link_nav">
  <ul>
    <li>
      <a [routerLink]="['/config-logmanage-intrusion']">Log</a>
    </li>
    <br>
    <li>
      <a [routerLink]="['/config-usermanage']">User</a>
    </li>
    <br>
    <li class="select">
      <a [routerLink]="['/config-systemmanage']">System</a>
    </li>
  </ul>
</div>

<div class="content-subject">&nbsp;&nbsp;Configuration - Set system configuration
  <button type="button"  (click)="intrusion_Celebro()" style="border:none;background:#FFCDD2;color:white;font-size:18px;border-radius:5px;height:30px;width:80px;">Celebro </button>
</div>
<div style="font-size:20px;margin-left:300px;">
  <app-system-config></app-system-config>
</div>