ul {
    list-style-type:none;
    padding:1%;
    margin-top:2%;
}

ul li {
    padding:5%;
    background:#E0E0E0;
    color:black;
    text-align:center;
    border-radius:5px;
    margin:0;
    white-space:nowrap;
}

ul li a {
    text-decoration:none;
    display:block;
    margin:0;
    border:0;
    color:black;
}

  
.link_nav {
    float: left;
    width: 10em;
    padding: 1em;
    background-color:white;
    height:3em;
    border-right:solid 1px;
}

.tab_menu {
    margin-bottom :16px;
}

.content-subject {
    font-weight:bolder;
    font-size:1.5em;
    padding-top:1em;
    padding-left:2em;
    margin-left:1%;
}
