<app-top></app-top>
<div class="tab_menu">
<app-tabmenu></app-tabmenu>
</div>

<div class="link_nav">
  <ul>
    <li class="select" ><a [routerLink]="['/analysis-overview']">Corelation</a></li><br>
    <div>
        <li class="sub select"><a [routerLink]="['/analysis-overview']">Overview</a></li><br>
        <li class="sub"><a [routerLink]="['/analysis-config']">Configuration</a></li><br>
        <li class="sub"><a [routerLink]="['/analysis-addrule']">Add Rule</a></li>
    </div>
  </ul>
</div>


<div>
  <div>
      <canvas id="line-chart" width="400" height="150" style="margin-left:30px;padding-right:30px;width:500px;height:150;"></canvas>
  </div>

</div>