.tb-WAhead {
    background-color:lightgray;
    font-size:20px;
    height:40px;
}

.tb-th-WAid {

}

.tb-th-WAname {

}

.tb-th-WAip {

}

.tb-th-WAstatus {

}

.tb-th-WAos {

}

.tb-th-WAversion {

}